<h1 class="text-center mt-4">Listing all articles</h1>

  <%= render 'article' %>
  <div class="text-center mb-3">
  <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
  </div>
</div>
